.tab-bar {
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.tab-bar .tab-bar__tap {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.tab-bar .tab-bar__tap i {
  display: block;
  margint-bottom: 5px;
  text-align: center;
}
